.container{
    .leftNva{
        height: calc(100vh);
    }
    .main{
        padding: 0 1rem;
        height: calc(100vh);
    }
    .header{
        height: calc(10vh);
    }
    .context{
        height: calc(80vh);
        display: flex; // 弹性盒子模型
        align-items: center; // 垂直居中
        justify-content: center; // 左右居中
    }
    .border{
        height: calc(80vh);
        border: 2rem solid #d7d7d7;
        box-sizing: border-box;
        margin-top: 2rem;
    }
    .footer{
        height: calc(7vh);
        display: flex; // 弹性盒子模型
        align-items: center; // 垂直居中
        justify-content: center; // 左右居中
        background-color:#d7d7d7;
    }
}