.container{
    .leftNva{
        height: calc(100vh);
    }
    .main{
        padding: 0 1rem;
        height: calc(100vh);
    }
    .header{
        background-color:#d85273;
        margin-bottom: 1rem;
        height: calc(15vh);
    }
    .context{
        background-color:#30a343;
        height: calc(70vh);
    }
    .footer{
        background-color:#8936b9;
        margin-top: 1rem;
        height: calc(11vh);
    }
}